*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
}

.site-header{
    background-color: #FBB161;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    z-index: 1000;
}

.header-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 12000px;
    margin: 0 auto;
}

.logo h1{
    color: white;
    font-size: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover{
    color: #003b00;
}

main{
    flex: 1;
    padding: 40px 20px;
}

.site-footer
{
    text-align: center;
    color: white;
    background-color: #333333;
    padding: 20px;
    /*margin-top: auto;*/
}

.section-main{
    min-height: 720px;
    padding: 100px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-main h2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
    position: absolute;
    top: 40px;
    scroll-margin-top: 100px;
}

/* 各セクションの背景色 */
#top {
    background-color: #ffffff;
    background-image: url(images/グランジ.jpg);
    background-size: cover;
    padding: 200px 0;
    scroll-margin-top: 200px;
}

#top h2{
    text-align: center;
    color: #333333;
    font-size: 60px;
}

#about {
    background-color: #f8f9fa;
}

#skills {
    background-color: #ffffff;
}

#works {
    background-color: #f8f9fa;
    /* 後で横スクロール用のスタイルを追加 */
}

#social {
    background-color: #ffffff;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title h2::after{
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    transform: translateX(0%);
    background-color: #FBB161;
    margin-top: 0px auto 0;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.profile p{
    max-width: 600px;
    font-size: 18px;
}

.profile-txt {
    display: block;
    flex-direction: column;  /* 縦に並べる */
    max-width: 600px;
}

.profile img{
    border-radius: 15%;
}

.black-line {
    position: absolute;
    width: 190px;           /* 線の長さ */
    height: 3px;            /* 線の太さ */
    background-color: #FBB161;  /* 線の色（ヘッダーと同じオレンジ） */
    border: none;           /* デフォルトの枠線を消す */
    margin: -60px auto 50px; /* 上 左右（中央寄せ） 下 */
}

.prtext {
    text-align: center;
    max-width: 300px;
}

.works-pickup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.work-img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    display: block;
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}