*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    overscroll-behavior: none;
}

body{
    display: flex;
    flex-direction: column;
    padding-top: 9vh;
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
}

.site-header{
    background-color: #FBB161;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}

.header-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 12000px;
    margin: 0 auto;
    pointer-events: auto;
}

.logo h1{
    color: white;
    font-size: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover{
    color: #003b00;
}

main{
    flex: 1;
    padding: 40px 20px;
}

.site-footer
{
    text-align: center;
    color: white;
    background-color: #333333;
    padding: 20px;
    /*margin-top: auto;*/
}

.section-main{
    min-height: 720px;
    padding: 100px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-main h2:not(#un-sect){
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
    position: absolute;
    top: 40px;
    scroll-margin-top: calc(9vh + 40px);
}

/* 各セクションの背景色 */
#top {
    background-color: #ffffff;
    background-image: url(images/グランジ.jpg);
    background-size: cover;
    padding: 200px 0;
    scroll-margin-top: 200px;
}

#top h2{
    text-align: center;
    color: #333333;
    font-size: 60px;
}

#about {
    background-color: #fffaf5;
}

#skills {
    background-color: #ffffff;
    min-height: 1540px;
}

#works {
    min-height: 1540px;
    background-color: #fffaf5;
    /* 後で横スクロール用のスタイルを追加 */
}

#social {
    background-color: #ffffff;
}

.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title h2::after{
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    transform: translateX(0%);
    background-color: #FBB161;
    margin-top: 0px auto 0;
}

.profile{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.profile p{
    max-width: 600px;
    font-size: 18px;
}

.profile-txt {
    display: block;
    flex-direction: column;  /* 縦に並べる */
    max-width: 600px;
}

.profile img{
    border-radius: 15%;
}

.profile-go-social {
    text-decoration: none;           /* 下線を消す */
    color: #fb6161;                  /* リンクの色 */
}

.profile-go-social:hover {
    color: #003b00;                  /* ホバー時の色 */
    text-decoration: underline;
}

.black-line {
    position: absolute;
    width: 190px;           /* 線の長さ */
    height: 3px;            /* 線の太さ */
    background-color: #FBB161;  /* 線の色（ヘッダーと同じオレンジ） */
    border: none;           /* デフォルトの枠線を消す */
    margin: -60px auto 50px; /* 上 左右（中央寄せ） 下 */
}

.prtext {
    text-align: center;
    max-width: 300px;
}

.skill-main{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.skill-card h3 {
    margin: 10px 0;
    font-size: 24px;
}

.skill-img {
    width: 100%;      /* カードの幅いっぱいに */
    height: 200px;
    object-fit: cover; /* 縦横比を保ちつつトリミング */
    border-radius: 10%;
}

.skill-progress {
    -webkit-appearance: none;
}
::-webkit-progress-bar {
    background-color: #003b00;
    border-radius: 4px;
}
::-webkit-progress-value {
    background-color: #FBB161;
    border-radius: 4px;
}

.skill-card-content {
    margin-top: -10px;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}

.skill-card-content strong {
    font-size: 16px;
    padding-left: 10px;
}

.skill-card-info {
    max-width: 200px;
}

.works-pickup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.work-img {
    width: 100%;      /* カードの幅いっぱいに */
    height: 200px;
    object-fit: cover; /* 縦横比を保ちつつトリミング */
    border-radius: 10%;
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.work-card h3 {
    margin: 10px 0;
    font-size: 24px;
}

.work-card a{
    text-decoration: none;           /* 下線を消す */
    color: #FBB161;                  /* リンクの色 */
}

.work-card a:hover {
    color: #003b00;                  /* ホバー時の色 */
    text-decoration: underline;
}

.works-scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /*padding: 80px 0;*/
    height: 360px;
    width: 800px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items: center;
}

/*
.works-scroll-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.works-scroll-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: linear-gradient(to right, transparent, #666);
    pointer-events: none;
    z-index: 1;
}
*/

.scroll-area-label {
    pointer-events: none;    /* クリック無効 */
    user-select: none;       /* テキスト選択無効 */
    position: relative;
    top: 65px;
    margin-top: -45px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.work-card-horizontal {
    z-index: 0;               /* カードの上に表示 */
    align-items: center;
    display: flex;              /* 中身を横並びに */
    min-width: 200px;           /* カードの最小幅 */
    height: 200px;              /* カードの高さ */
    flex-shrink: 0;             /* 縮まないようにする */
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;           /* はみ出た部分を隠す */
    max-width: 400px;
}

.work-img-horizontal {
    width: 200px;               /* 画像の幅 */
    height: 200px;              /* 画像の高さ（カードと同じ） */
    object-fit: cover;          /* 画像をきれいに収める */
    flex-shrink: 0;             /* 画像が縮まないようにする */
    border-radius: 15px;
}

.work-info-horizontal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work-info-horizontal h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.work-info-horizontal a{
    text-decoration: none;           /* 下線を消す */
    color: #FBB161;                  /* リンクの色 */
}

.work-info-horizontal a:hover{
    color: #003b00;                  /* ホバー時の色 */
    text-decoration: underline;
}

.work-info-horizontal p {
    margin: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.phone-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 20px;
}

.work-scroll {
    position: relative;
}

.social-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.social-content-block {
    display: flex;
    width: 600px;
    align-items: center;
    gap: 15px;
}

.social-container-info {
    display: flex;
    flex-direction: column;
}

.social-link-text {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;           /* 下線を消す */
    color: #fb6161;                  /* リンクの色 */
}

.social-link-text:hover {
    color: #003b00;                  /* ホバー時の色 */
    text-decoration: underline;
}

.social-container-icon img {
    width: 100px;      /* カードの幅いっぱいに */
    height: 100px;
    object-fit: cover; /* 縦横比を保ちつつトリミング */
    border-radius: 10%;
}